<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<title>Primeira pagina com JSF</title>
	</h:head>
	<h:body>
		<h2><h:outputText value="#{helloMB.hello}" /></h2>
	</h:body>
</html>
